.container {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 30px;
  margin: 0 auto;
  max-width: 1200px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table th {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.table td {
  background-color: #f9f9f9;
  padding: 10px;
  text-align: center;
}

.table tr:nth-child(even) td {
  background-color: #f2f2f2;
}

.table tr:hover td {
  background-color: #e8f1ff;
  cursor: pointer;
}

.table th:first-child,
.table td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.table th:last-child,
.table td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
